{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "EvokeUI.createElement", // default pragma is React.createElement
      "throwIfNamespace": false // defaults to true
    }]
  ]
}